<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lifeline.lifelineforyou"
    android:versionCode="8"
    android:versionName="1.1.5" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_actionbar"
        android:label="@string/app_name"
        android:theme="@style/MyTheme" >
       <activity
            android:name="com.lifeline.lifelineforyou.SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
 
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
        android:name="android.app.searchable"
        android:resource="@xml/searchable">
    </meta-data>
        </activity>
        <activity
            android:name="com.lifeline.lifelineforyou.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>


                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.lifeline.lifelineforyou.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
               

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.lifeline.lifelineforyou.StationaryActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.STATIONARY" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.lifeline.lifelineforyou.GeneralStoreActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.ELEC" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.lifeline.lifelineforyou.CosmeticsActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.COSME" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.lifeline.lifelineforyou.PUSweetsActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.WEED" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.lifeline.lifelineforyou.FoodActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.FOODA" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.lifeline.lifelineforyou.HealthActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.HEALTHA" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
         <activity
            android:name="com.lifeline.lifelineforyou.AddToCartActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.ADDTOCART" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.lifeline.lifelineforyou.BakeryActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.BAKERY" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.lifeline.lifelineforyou.E_printoutActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.EPRINTOUT" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.lifeline.lifelineforyou.RechargeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.RECHARGE" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.lifeline.lifelineforyou.FruitsActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.FRUITS" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.lifeline.lifelineforyou.CheckOutActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.CHECKOUT" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.lifeline.lifelineforyou.FinalDetailsPage"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.FINAL" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.lifeline.lifelineforyou.HistoryActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.HISTORY" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
         <activity
            android:name="com.lifeline.lifelineforyou.OfferActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.OFFER" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.lifeline.lifelineforyou.SearchActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.lifeline.lifelineforyou.SubStationaryActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.SUBSTAT" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
         <activity
            android:name="com.lifeline.lifelineforyou.CosmeticsSubCatActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.COSSUBCAT" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.lifeline.lifelineforyou.FoodSubCatActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.FOODSUBCAT" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.lifeline.lifelineforyou.HelpActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.HELP" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
         <activity
            android:name="com.lifeline.lifelineforyou.ThankYouActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.THANK" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.lifeline.lifelineforyou.AboutShopsActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.ABOUTSHOP" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
         <activity
            android:name="com.lifeline.lifelineforyou.AddMoreMedActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.ADDMORE" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.lifeline.lifelineforyou.ServiceCharge"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.SERVICECHARGE" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
    </application>

</manifest>
